# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\01 本地-增量备份-天翼云\A.1 北航-Main\11-科研项目\01.01-IndoorPos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
